*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
body{
  background-color: #121214;
  background-image:url(./assets/bg-overlay.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
main{
  height: fit-content;
}
#app{

  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
 

}
header{
  margin-top: 52px;
  margin-bottom: 50px;
}

#cards{
  display: flex;
  gap: 35px 10px;
  flex-wrap: wrap;
  justify-content: center;
 
}
.card{

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
  width: 316px;
  height: fit-content;
  background: #1D1C19;
  border-bottom: 2px solid #1966c5;
  border-radius: 6px;
  transition: 0.6s ease-in-out;
  animation: appear 0.4s forwards;
  opacity: 0;
}

h2{
  display: flex;
  margin-top: 35px;
  margin-bottom: 30px;
  border:1px solid #1966c5;
  color: #F7DD43;
  font-size: 24px;
  font-weight: 700;
  width: fit-content;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding: 10px;  
  gap:10px;
  transition: 0.6s ease-in-out;
  border-radius: 6px;
  
}
h2>span{
  color:#E1E1E6;
  font-size: 14px;
  font-weight: 700;
}
ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: -20px;
  width: 270px;
  
}
li{
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  font-weight: 900;
  font-size: 36px;
  padding-bottom: 15px;
  padding-top: 5px;
  
}
ul li{
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  font-weight: 900;
  font-size: 36px;
  padding-bottom: 35px;
  padding-top: 5px;
  border-bottom: 1px solid #323238;
  
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  color: white;
  font-weight: 900;
  font-size: 18px;
  margin: 0;
  
}
footer a{
  color: white;
  font-weight: 900;
  cursor: pointer;
  margin: 0;
}
footer img{
  padding-top: 25px;
  width: 50px;
  height: 50px;
}


@media(max-width: 710px){
  body{
    background-color: #121214;
    background-image:url(./assets/bg-overlay-yellow.svg), linear-gradient(370deg, #000000, #3d3816);
    background-repeat: no-repeat;
    background-size: 100%;
    
  }
  header{
    margin-top: 100px;
  }
  main{
    height: fit-content;
  }
  #cards{
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding:0;
                 
    
  }
  .card{
    border-bottom: 2px solid #F7DD43;
    margin-bottom: 40px;
    gap:0; 
    animation: appear 0.4s forwards;
    opacity: 0;
  }
  h2{
    border:1px solid #746615;
    color: #F7DD43;
  }
  #app{ 
    padding:0;
   
  }
  footer{
    padding-top: 200px;
    padding-bottom: 50px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    
  }
}

@keyframes appear {

  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
   
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}